/*
 *= require_self
 */

@import 'variables.scss';
@import 'layout.scss';

a {
  text-decoration: none
}

li {
  list-style: none;
}

body{
  background: $bg-white;
  padding-top: 80px;
  width: 80%;
  margin: 3% auto;
}
