.postDetail {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 16px;
  grid-template-rows: 60px 1fr;
  background: #fff;
  box-shadow: $material-shadow;
  border-radius: 2px;
  padding: 16px;
  margin-bottom: 24px;
  &__header{
    grid-row: 1/2;
    padding: 16px;
    text-align: right;
    position: relative;
    &__username {
      position: absolute;
      left: 20px;
    }
  }
  &__content{
    grid-row: 2/3;
    padding: 16px;
  }
}