.wrap60 {
  width: 60%;
  margin: 0px auto;
}

.wrap80 {
  width: 80%;
  margin: 0px auto;
}

.mb16{margin-bottom: 16px}
.mb24{margin-bottom: 24px}

.p8{padding: 8px}
.p16{padding: 16px}

.pl16{padding-left: 16px}

.pr48{padding-right: 48px}

.width500{
  width: 500px;
}

.liner{
  display: inline-flex;
}